---
title: Icalia Labs — Design
---

<div class="container" id="Container">

<div class="nav">
	<div class="navbar align vertical">
		<div class="navbar-title">
			<img class="navbar-logo" src="../images/logo.png" alt="">
			<p>Design</p>
			<div class="navbar-social">
				<a href="http://www.dribbble.com/icalialabs">Dribbble</a>
				<a href="http://www.behance.com/icalialabs">Behance</a>
			</div>
		</div>
	</div>
</div>


<div class="intro">
	<h2 class="intro-title">We are the Icalia Labs design team.</h3>
	<p class="intro-text">We build digital products, and design is an essential asset at Icalia Labs. We are always working for aesthetic, intuitive, and user friendly looks in all of our projects. Here you can find relevant documents and information related to this area, curated by Icalia’s designers.</p>
</div>


<div class="row align-flex horizontal wrap">
	<div class="col-4">
		<div class="article-card">
			<div class="article-card__top vertical align-flex">
				<div class="article-card__author-photo">
					<img src="../images/scarlett.jpg" alt="">
				</div>
				<p class="article-card__author-name">Scarlett Garza</p>
			</div>
			<h3 class="article-card__title">The best Digital Design tools out there.</h3>
			<div class="article-card__main-photo">
				<img src="../images/color-palette.png" alt="">
			</div>
			<div class="article-card__description">
				<p>With MySpace becoming more popular every day, there is the constant need to be different. There are millions of users……</p>
			</div>
		</div>
	</div>


</div>


</div>

<footer>
</footer>
