---
title: Icalia Labs — Design
---

<div class="container" id="Container">

<div class="nav">
	<div class="navbar align vertical">
		<div class="navbar-title">
			<img class="navbar-logo" src="../images/logo.png" alt="">
			<p>Design</p>
			<div class="navbar-social">
				<a target='_blank' href="http://www.dribbble.com/icalialabs">Dribbble</a>
				<a target='_blank' href="http://www.behance.com/icalialabs">Behance</a>
			</div>
		</div>
	</div>
</div>


<div class="intro">
	<h2 class="intro-title">We are the Icalia Labs design team.</h3>
	<p class="intro-text">We build digital products, and design is an essential asset at Icalia Labs. We are always working for aesthetic, intuitive, and user friendly looks in all of our projects. Here you can find relevant documents and information related to this area, curated by Icalia’s designers.</p>
</div>


<div class="content">

	<a href="http://bit.ly/2o81yJt" class="card-wrap">
		<div class="article-card">
			<div class="article-card__top vertical align-flex">
				<div class="article-card__author-photo">
					<img src="../images/scarlett.jpg" alt="">
				</div>
				<p class="article-card__author-name">Scarlett Garza</p>
			</div>
			<h3 class="article-card__title">Alom: the simplest framework ever.</h3>
			<div class="article-card__main-photo">
				<img src="../images/alom.png" alt="">
			</div>
			<div class="article-card__description">
				<p>Alom is our latest CSS framework and is focused on being very light and simple, yet very powerful and useful.</p>
			</div>
		</div>
	</a>

	<div class="card-wrap">
	  <div class="event-card">
	    <div class="event-card__main-photo">
	      <img src="../images/desk-mac.png" alt="">
	    </div>
	    <div class="event-card__date align-flex center">
	      <p class="event-card__date-day">Wednesday</p>
	      <p class="event-card__date-number">13</p>
	      <p class="event-card__date-month">March</p>
	    </div>
	    <div class="event-card__about align-flex vertical">
	      <h3 class="event-card__about-title">Design for Digital Products in 2017</h3>
	    </div>
	  </div>
	</div>

	<div class=" card-wrap">
		<a href="https://icalialabs.github.io/icalicons/">
		  <div class="resources-card">
				<div class="resources-card__top">
					<h3 class="resources-card__title">Icalicons.</h3>
					<div class="resources-card__top-icons">
						<img class="resources-card__icon" src="../images/css-icon.png" alt="">
					</div>
				</div>
				<div class="resources-card__illustration align-flex center">
					<img class="resources-card__illustration-icon" src="../images/icalicons-icon.png" alt="">
				</div>
				<div class="resources-card__description">
					<p>The Icalicons are a set of icons built as a font to make our life easier.</p>
				</div>
		  </div>
		</a>
	</div>

	<a href="https://www.behance.net/gallery/44557085/Okudoc" class="card-wrap">
		<div class="casestudy-card">
		  <p class="casestudy-card__title">Okudoc, doctores cerca de ti.</p>
		  <div class="casestudy-card__content">
				<div class="casestudy-card__description">
					<p>Finding a Doctor isn't easy. Finding a Doctor you can trust is harder still. Okudoc, wanted to solve this particular challenge.</p>
				</div>
		  </div>
		</div>
	</a>

</div>

<footer>
	<div class="footer-top align-flex between align vertical">
		<div class="footer-line"></div>
		<a href="http://www.icalialabs.com"><img class="footer-logo" src="../images/logo.png" alt=""></a>
		<div class="footer-line"></div>
	</div>
	<div class="footer-bottom">
		<div class="row">
			<div class="col-3">
				<p>© 2017 Icalia Labs</p>
			</div>
			<div class="offset-3 col-6">
				<div class="footer-social-links">
					<a target="_blank" href="http://www.facebook.com/icalialabs">Facebook</a>
					<a target="_blank" href="http://www.twitter.com/icalialabs">Twitter</a>
					<a target="_blank" href="http://www.instagram.com/icalialabs">Instagram</a>
					<a target="_blank" href="http://www.github.com/icalialabs">Github</a>
					<a target="_blank" href="http://www.dribbble.com/icalialabs">Dribbble</a>
					<a target="_blank" href="http://www.medium.com/icalialabs">Medium</a>
				</div>
			</div>
		</div>
	</div>
</footer>

</div>
